*.gradle        text
*.java          text diff=java
*.json          text eol=lf
*.properties    text
*.toml          text
*.xml           text
*.yml           text

*.bat           text eol=crlf
*.sh            text eol=lf
gradlew         text eol=lf

*.jar           binary
*.png           binary
*.ogg           binary