*.gradle        text eol=crlf
*.java          text diff=java eol=crlf
*.json          text eol=crlf
*.properties    text eol=crlf
*.toml          text eol=crlf
*.xml           text eol=crlf
*.yml           text eol=crlf

*.bat           text eol=crlf
*.sh            text eol=lf
gradlew         text eol=lf

*.jar           binary
*.png           binary